* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width:466px) {
  .Section-left-imgs img{
    width: 6.5rem !important;
  }
  .investing-section-bottam {
    width: 90% !important;}
  .quiz-h {
    width: 100% !important;
  }
  .quiz-card {
    gap: 2rem;
  }
  .slider-h p {
    line-height: 2rem !important;
  }
  .teraBlock {
  
    gap: 1rem;
}
.teraBlock {
  gap: 0 !important;
}
.teraBlock div {
 
  width: 16rem !important;
}
.faq {
  text-align: center;
  padding: 1rem !important;
 
}
.quiz {
  padding: 1rem !important;
  margin-top: 5rem;
  margin-bottom: 5rem
}
.footerpad{
  padding: 0 !important;
}
.navbar-lists {

  justify-content: flex-start !important;

}
.res-chart{
  display: none !important;
}
.chart-big-data p {
  font-size: 1rem;

}
}
@media (max-width:768px) {
  .center-inv{
    width: 90% !important;
  }
  .chart-big-data{
    width: 90% !important;
  }
  .quiz-card {

    gap: 2rem !important;
  }
  
  .quiz-h {
    width:100% !important;

}
.res-chart{
  display: none !important;
}
}


@media (min-width:1024px) {
  .navbar-link {
    font-size: 1.4rem !important;
    


}
.teraBlock {
  gap: 8rem !important;
}
}
@media (min-width: 819px) and (max-width: 912px) {
  .navbar-link {
    font-size: 1.3rem !important;
  }
  .mainHeader {
    padding: 0 2.8rem !important;

}
.quiz-card {

  gap: 2rem !important;
}
}